.filter-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    max-width: 18%;
    float: right;
    background-color: #313838;
    position: fixed;
    right: 0px;
    overflow: scroll;
    max-height: 650px;
    overflow-x: hidden;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    
}