.filter-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    max-width: 18%;
    float: right;
    background-color: #313838;
    color: #f0f0f0;
    position: fixed;
    top: 66px;
    right: 0;
    min-height: calc(80vh - 66px);
    max-height: 80vh;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
}
