
.input-wrapper{
    position: sticky;
    background-color: black;
    width: 20%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #0074cc;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 10px;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color: #0074cc;
}

input:focus {
    outline: none;
}

#search-icon{
    color: #0074cc;
}